<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">

	html, body {
		height: 100%;
	}

	#centeredcontainer {
		width: 300px;
		height: 200px;
		text-align: center;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -150px;
		/* Half the width of the DIV tag which is 50 pixels */
		margin-top: -100px;
		/* Half the height of the DIV tag which is also 50 pixels */
	}

	tr.batchresultrow {
		background-color: #FFFFFF; /* #DCDCDC; */

	}

	tr.batchresultrow_hilite {
		background-color: #FFCC79;
		color: #FFFFFF;

	}


</style>

	<title>
		Confirmation
	</title>

</head>

<body marginwidth="0" marginheight="0" topmargin="5" leftmargin="5">

  <!-- Viewable layout -->
  <$include iris_styles$>

<div id="centeredcontainer">
		<!-- Title for the user profile: displays the dDocName for this item -->

		<script type="text/javascript">

			function closeActionsWindow(){

			//alert("File moved");
			//setTimeout("alert('File moved')",1000);
			//alert(window.opener.parent.location.href);
			window.opener.parent.location.href = window.opener.parent.location.href;
			self.close();
			//alert("actionform : " + actionform.length);

			}


		</script>

		<$include orangeContainer_top$>
	
			<!-- Title for the user profile: displays the dDocName for this item -->
			<div class='panelheader' style="padding: 3px; border-bottom: 1px solid; margin-right: 3px;">
	
				<table width="100%" cellpadding=0 cellspacing=0>
					<tr>
						<td>
						<b>Move successful<b>
						</td>
					</tr>
				</table>
			</div>
			
			<div style="padding:2px;">
				<table width="100%" height="78px" cellpadding=0 cellspacing=0>
					<tr>
						<td>
							<b><div style="color:#DC143C; display:inline;">Your document has been moved.</div>
							<br />
							<br />
							Please close the window with the button below.</b>
							<br />
							<br />
							<input type=button value="Close window" style="cursor: pointer;" onClick="closeActionsWindow();">
						</td>
					</tr>
				</table>
			</div>
		
		<$include orangeContainer_bottom$>
		
		
		<$if false$>
		
		<$include greyPanel_top$>

		<div class='panelheader' style="padding: 3px">
			<table width="100%" cellpadding=0 cellspacing=0>
				<tr height=20>
					<td>
						<span class='panelheading'>Move successful.</span>
					</td>
				</tr>
			</table>
		</div>

		<div class='panelbody' id="newdoc_panel" style="display: block; width: 99%">

			<table width="100%" height="78px" cellpadding=0 cellspacing=0>
				<tr>
					<td>
						<b><div style="color:#DC143C; display:inline;">Your document has been moved.</div>
						<br />
						<br />
						Please close the window with the button below.</b>
						<br />
						<br />
						<input type=button value="Close window" style="cursor: pointer;" onClick="closeActionsWindow();">
					</td>
				</tr>
			</table>

		</div>

		<$include greyPanel_bottom$>
		
		<$endif$>

	</div>

</body>


</html>