<$include MailHeader$>
<$if CollatedDocs$><$exec isMulti=(CollatedDocs.#numRows > 1)$><$else$><$exec isMulti=0$><$endif$>
<$if isTrue(isTextEmail)$><$if IsNotifyOnly$>Bundle assignment notification<$else$>Bundle assignment notification<$endif$>
<$if isTrue(isMulti)$>
<$CollatedDocs.#numRows$> bundles were assigned to you
______________________________________________________________________________________________
<$loop CollatedDocs$>
Ref: <$xBundleRef$>
Scan date: <$xStartDate$>
Due date: <$xPaymentDate$>

Follow this link to view the bundle: <$HttpCgiPath$>?IdcService=DOC_APPROVAL&dDocName=<$dDocName$>&bundleRef=<$xBundleRef$>
<$endloop$>
______________________________________________________________________________________________
<$else$>

You were assigned to the bundle: <$xBundleRef$>

Scan date: <$xStartDate$>
Due date: <$xPaymentDate$>

Follow this link to view the bundle: <$HttpCgiPath$>?IdcService=DOC_APPROVAL&dDocName=<$dDocName$>&bundleRef=<$xBundleRef$>
<$endif$>
<$else$>

	<$if isTrue(isMulti)$>
		<$defaultPageTitle = "Bundle assignment notification"$>
	<$else$>
		<$if IsNotifyOnly$>
			<$defaultPageTitle="Bundle assignment notification"$>
		<$else$>
			<$defaultPageTitle="Bundle assignment notification"$>
		<$endif$>
	<$endif$>

<h3 style="font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10pt;font-weight:bold;width:100%;border-bottom:1px solid black;white-space:nowrap">
	<img src="<$HttpImagesRoot$>/stellent/mailheadinglogo.gif">&nbsp;
	<$if IsNotifyOnly$><$defaultPageTitle$><$else$><$defaultPageTitle$><$endif$></h3>

<$if isTrue(isMulti)$>
<p style="font-family:Arial,Helvetica,sans-serif;font-size:9pt">
	<$CollatedDocs.#numRows$> mail bundles were assigned to you:</p>
<br>
<ul>
<$loop CollatedDocs$>
	<li style="font-family:Verdana,Arial,Helvetica,sans-serif;font-size:8pt;font-weight:normal">
		<span style="font-weight:bold"><$xBundleRef$></span>
		<br>
		<a href="<$HttpCgiPath$>?IdcService=DOC_APPROVAL&dDocName=<$dDocName$>&bundleRef=<$xBundleRef$>" style="color:993333">view bundle</a>  
		<br><br>
	</li>
<$endloop$>
</ul>

<$else$>

<$if IsNotifyOnly$>
<p style="font-family:Arial,Helvetica,sans-serif;font-size:9pt">
	A mail bundle was assigned to you.</p>
<$else$>
<p style="font-family:Arial,Helvetica,sans-serif;font-size:9pt">
	A mail bundle was assigned to you.</p>
<$endif$>
<p style="padding-left:15px">
	<span style="font-family:Verdana,Arial,Helvetica,sans-serif;font-size:8pt;font-weight:bold">
		<b>Ref:&nbsp;</b></span>
	<span style="font-family:Arial,Helvetica,sans-serif;font-size:9pt;font-weight:normal"> 
		<$xBundleRef$></span>
	
	<br>
	
	<span style="font-family:Verdana,Arial,Helvetica,sans-serif;font-size:8pt;font-weight:bold">
		<b>Assignee(s):&nbsp;</b></span>
	<span style="font-family:Arial,Helvetica,sans-serif;font-size:9pt;font-weight:normal"> 
		<$include iris_display_assignee$></span>
	<br>
	
	<span style="font-family:Verdana,Arial,Helvetica,sans-serif;font-size:8pt;font-weight:bold">
		<b>Scan date:&nbsp;</b></span>
	<span style="font-family:Arial,Helvetica,sans-serif;font-size:9pt;font-weight:normal"> 
		<$formatDateWithPattern(xStartDate,#env.Iris_shortDatePattern)$></span>
	
	<br>
	
	<span style="font-family:Verdana,Arial,Helvetica,sans-serif;font-size:8pt;font-weight:bold">
		<b>Due date:&nbsp;</b></span>
	<span style="font-family:Arial,Helvetica,sans-serif;font-size:9pt;font-weight:normal"> 
		<$formatDateWithPattern(xPaymentDate,#env.Iris_shortDatePattern)$></span>
		
</p>

<p style="font-family:Verdana,Arial,Helvetica,sans-serif;font-size:8pt;padding-left:15px">

	[ <a href="<$HttpCgiPath$>?IdcService=DOC_APPROVAL&dDocName=<$dDocName$>&bundleRef=<$xBundleRef$>" style="color:993333">
		view bundle</a> ]</p>
<$endif$>
<$endif$>

<$include MailFooter$>
