<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<title>
		Iris - Home
	</title>
	
	<$include iris_styles$>
	
</head>

<body <$include iris_body_def_internal$> height="100%" >

	<$include iris_header$>
	
<$if Iris_customHomePageContent$>
	<$inc(Iris_customHomePageContent)$>
<$else$>
	
	<$if IsLoggedIn$>
		<table border=0 cellpadding=7 cellspacing=0 width="100%">
			<tr>
				<td valign=top align=center>
		
					<table border="0" cellspacing="0" cellpadding="0" width="100%" bgcolor="#FFFFFF">
						<tr>
							<td>
								
								<br style="line-height:40px">
		
							</td>
						</tr>
					</table>
	
				<br/>
	
				<div style="padding-left: 40px; width: 500px" align=center>
	
				<table class="xuiTitleTable" width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td class="xuiPageHeadingCell">
								<h5 class="xuiPageHeadingText" style="color:#F29303;font-size: 12pt;">Iris - Streamlined Document Processing</h5></td>
		
							<td class="xuiPageHeadingCell" style="text-align:right" align="right">
								</td>
							
						</tr>
					</table>
				
					<br style="line-height:10px">
	
					<table cellpadding="0" cellspacing="0" width='100%'>
						<tr>
							<td rowspan=10 width=8></td>
		
							<td></td>
							<td>&nbsp;&nbsp;</td>
							<td class="hp" > Iris is a scanning and processing solution which is applicable to a wide range of business requirements.<p>
	 
									Easily configurable with popular processes supported out of the box Iris allows all knowledge workers to classify, 
									access and process captured information from anywhere on the corporate network through a simple and easy to use 
									interface for document approvals.<p></td>
						
						</tr>
					</table>
		
					<br style="line-height:20px">
				
						<table class="xuiTitleTable" width="100%" cellpadding="0" cellspacing="0">
							<tr>
								<td class="xuiPageHeadingCell">
									<h4 class="xuiPageHeadingText" style="color:#F29303;"><a href="<$HttpCgiPath & "?IdcService=DOC_LISTING<$include add_idc_token_to_url$>"$>">Item Listings</a></h4></td>
			
								<td class="xuiPageHeadingCell" style="text-align:right" align="right">
									</td>
							</tr>
						</table>
					
						<br style="line-height:10px">
							
						<table cellpadding="0" cellspacing="0" width='100%'>
							<tr>
								<td rowspan=10 width=8></td>
								<td><img src="images/iris/icon_doc.gif"></td>
								<td></td>
								<td align="left" class="hp">List active documents.</td>
							
							</tr>
						</table>
		
						<br style="line-height:20px">
		
						<table class="xuiTitleTable" width="100%" cellpadding="0" cellspacing="0">
							<tr>
								<td class="xuiPageHeadingCell">
									<h4 class="xuiPageHeadingText" style="color:#F29303;"><a href="<$HttpCgiPath & "?IdcService=IRIS_USER_PROFILE<$include add_idc_token_to_url$>"$>">User Profile</a></h4></td>
					
								<td class="xuiPageHeadingCell" style="text-align:right" align="right">
									</td>
							</tr>
						</table>
	
						<br style="line-height:10px">
		
						<table cellpadding="0" cellspacing="0" width='100%'>
							<tr>
										<td rowspan=10 width=8></td>
										<td><img src="images/iris/icon_user_profile.gif"></td>
										<td>&nbsp;&nbsp;</td>
								<td align="left" class="hp">Manage your user profile.</td>
							
							</tr>			
						</table>
						
						
		
						<br style="line-height:20px">
						
						<table class="xuiTitleTable" width="100%" cellpadding="0" cellspacing="0">
							<tr>
								<td class="xuiPageHeadingCell">
					
									<h4 class="xuiPageHeadingText" style="color:#F29303;"><a href="<$HttpCgiPath & "?IdcService=IRIS_NEW_ITEM<$include add_idc_token_to_url$>"$>">Add New Item</a></h4></td>
								<td class="xuiPageHeadingCell" style="text-align:right" align="right">
									</td>
							</tr>
						</table>
	
						<br style="line-height:10px">
							
						<table cellpadding="0" cellspacing="0" width='100%'>
							<tr>
					
										<td rowspan=10 width=8></td>
										<td><img src="images/iris/icon_search.gif"></td>
										<td>&nbsp;&nbsp;&nbsp;</td>
								<td align="left" class="hp">Process a new document.</td>
								
							</tr>
						
						</table>
					
					</div>
				</td>
			</tr>
		</table>
	
	
	<$else$>
		
		<table border=0 cellpadding=7 cellspacing=0 width="100%">
			<tr>
				<td valign=top align=center>
		
					<table border="0" cellspacing="0" cellpadding="0" width="100%" bgcolor="#FFFFFF">
						<tr>
							<td>
								
								<br style="line-height:40px">
		
							</td>
						</tr>
					</table>
	
				<br/>
	
				<div style="padding-left: 40px; width: 500px" align=center>
	
					<table class="xuiTitleTable" width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td class="xuiPageHeadingCell">
								<h5 class="xuiPageHeadingText" style="color:#F29303;font-size: 12pt;">Iris - Streamlined Document Processing</h5></td>
		
							<td class="xuiPageHeadingCell" style="text-align:right" align="right">
								</td>
							
						</tr>
					</table>
				
					<br style="line-height:10px">
						
					<table cellpadding="0" cellspacing="0" width='100%'>
						<tr>
							<td rowspan=10 width=8></td>
	
							<td>&nbsp;&nbsp;</td>
							<td class="hp">Iris is a scanning and processing solution which is applicable to a wide range of business requirements.<p>
	 
									Easily configurable with popular processes supported out of the box Iris allows all knowledge workers to classify, 
									access and process captured information from anywhere on the corporate network through a simple and easy to use 
									interface for document approvals.<p>
	
								<p>To login to the demo click <a href="javascript:irisLogin()">here</a>.</td>
						
						</tr>
					</table>
	
					</div>
				</td>
			</tr>
		</table>
	
	<$endif$>

<$endif$>
	
<$include std_page_end$>

</body>
</html>