<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<$include ccla_cs_styles$>

	<title>
		CCLA Instruction Rule Priority Administration
	</title>
	
	<$include iris_jquery_js$>
	
	<$include doc_listing_styles$>
	<$include iris_paginator_header$>
		
	<$include group_actions_js$>
	<$include doc_listing_js$>

	<$include float_menu_header$>
	
	<script type="text/javascript">
		function setIdcService(formValue, formName) {
		
			var formToUse = document.forms[formName];
			if (formToUse) {	
				if (formValue=='Delete') {
					formToUse.IdcService.value='CCLA_CS_DELETE_INSTR_RULE';
					formToUse.RedirectUrl.value='<$HttpCgiPath$>?IdcService=CCLA_CS_INSTR_RULE_PRIORITY_ADMIN<$include add_idc_token_to_url$>';
				} else {
					var ruleId = formToUse.INSTRUCTION_RULE_ID.value;
					window.location.href = "?IdcService=CCLA_CS_INSTR_RULE_PRIORITY_EDIT<$include add_idc_token_to_url$>&INSTRUCTION_RULE_ID=" + ruleId;
				}			
			}
		}	
		
		function checkAddForm() {
			var createForm = document.getElementById('createNewRule');
			if (createForm) {
				if (createForm.RULE_NAME.value==null || createForm.RULE_NAME.value.length<=0) {
					alert('Please enter a rule name');
					return false;
				}
				
				if (createForm.RULE_TYPE_ID.value==null || createForm.RULE_TYPE_ID.value.length<=0) {
					alert('Please select a rule type id');
					return false;
				}
				
				return true;
			} else {
				alert('Error with page');
				return false;
			}
		}
	
	</script>
	
</head>

<body <$include iris_body_def_internal$> >
	
	<$include ecs_popup_div_header$>

	<!-- Viewable layout -->
	<$include iris_header$>
	<$include ccla_cs_ajax_js$>

	<$isPriority=1$>
	
	<div align=center style="margin: 15px 0px;">	
		<div id='ccla_cs_content' style='width: 900px'>
			<$include orangeContainer_top$>
	
			<div class='ccla_cs_panel_header'>
				CCLA Instruction Rule Priority Administration
			</div>
			
			<div class='ccla_cs_panel_content'>
				
				<h3 class="ccla_data_panel_header">Current Rules</h3>
			
				<table class="ccla-table">
					<tr>
						<th width="30%">Name</th>
						<th width="10%">Type</th>
						<th width="10%">Date Added</th>
						<th width="10%">Added By</th>	
						<th width="15%">Default Priority</th>
						<th width="25%">Action</th>

						
					</tr>
					<$if rsRules$>
						<$loop rsRules$>
						<form id="form<$#active.INSTRUCTION_RULE_ID$>" name="form<$#active.INSTRUCTION_RULE_ID$>" method="POST">
						<input type="hidden" name="IdcService" value="" /><$include add_idc_token_to_form$>
						<input type="hidden" name="RedirectUrl" value="" />
						<input type="hidden" id="INSTRUCTION_RULE_ID" name="INSTRUCTION_RULE_ID" value="<$#active.INSTRUCTION_RULE_ID$>" />
						<input type="hidden" id="DATE_ADDED" name="DATE_ADDED" value="<$#active.DATE_ADDED$>" />
						<input type="hidden" id="ADDED_BY" name="ADDED_BY" value="<$#active.ADDED_BY$>" />
	
						<tr>
							<td><$#active.RULE_NAME$></td>
							<td align="center">
								<$if #active.RULE_TYPE_ID==0$>AND
								<$elseif #active.RULE_TYPE_ID==1$>OR
								<$endif$>
							</td>
							<td align="center"><$#active.DATE_ADDED$></td>
							<td align="center"><$#active.ADDED_BY$></td>
							<td align="center"><$if #active.PRIORITY$><$#active.PRIORITY$><$else$>N/A<$endif$></td>
							<td align="center">
								<input type="button" value="Edit" onclick="setIdcService(this.value, 'form<$#active.INSTRUCTION_RULE_ID$>');"/>
								<input type="submit" value="Delete" onclick="setIdcService(this.value, 'form<$#active.INSTRUCTION_RULE_ID$>');"/>
							</td>
						</tr>
						</form>
						<$endloop$>
					<$endif$>
				</table>					
			</div>
			<$include orangeContainer_bottom$>
			
			<!------------------------------- ADD NEW RULE ------------------------------------>
			<$include orangeContainer_top$>
			<div class='ccla_cs_panel_header'>
				Add New Rule
			</div>
			<p>Add a new rule by specifying a unique name and type<p>
			<div class='ccla_cs_panel_content'>
				<$include ccla_add_new_instruction_rule_form$>
			</div>
			<$include orangeContainer_bottom$>			
			<!------------------------------- ADD NEW RULE ------------------------------------>
			
		</div>
	</div>
</body></html>