<!DOCTYPE html PUBLIC 	"-//W3C/DTD XHTML 1.0 Transitional//EN"
						"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		
		<title>
			Share Class Daily Yield
		</title>
		
		<$include ccla_cs_styles$>
		<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="<$HttpWebRoot$>resources/ECS_Javascript/jquery/addons/jqplot/excanvas.js"></script><![endif]-->

		<!-- JQPLOT INCLUDES -->
		<script language="javascript" type="text/javascript" src="<$HttpWebRoot$>resources/ECS_Javascript/jquery/jquery-1.5.1.js"></script>
		<script language="javascript" type="text/javascript" src="<$HttpWebRoot$>resources/ECS_Javascript/jquery/addons/jqplot/jquery.jqplot.js"></script>
		<script language="javascript" type="text/javascript" src="<$HttpWebRoot$>resources/ECS_Javascript/jquery/addons/jqplot/plugins/jqplot.dateAxisRenderer.js"></script>
		<script language="javascript" type="text/javascript" src="<$HttpWebRoot$>resources/ECS_Javascript/jquery/addons/jqplot/plugins/jqplot.enhancedLegendRenderer.min.js"></script>
		<script language="javascript" type="text/javascript" src="<$HttpWebRoot$>resources/ECS_Javascript/jquery/addons/jqplot/plugins/jqplot.highlighter.min.js"></script>		 
		<script language="javascript" type="text/javascript" src="<$HttpWebRoot$>resources/ECS_Javascript/jquery/addons/jqplot/plugins/jqplot.cursor.min.js"></script>		 

		<link rel="stylesheet" type="text/css" href="<$HttpWebRoot$>resources/ECS_Javascript/jquery/addons/jqplot/jquery.jqplot.css" />

		<!-- DATE PICKER INCLUDES -->
		<script type="text/javascript" src="<$HttpWebRoot$>resources/ECS_Javascript/jquery/addons/date_picker/js/jquery-ui-1.7.2.js"></script>
		<link href="<$HttpWebRoot$>resources/ECS_Javascript/jquery/core/css/base/ui.all.css" rel="stylesheet" type="text/css" />
		
		
		
		<style type="text/css" media="screen">
			.jqplot-axis {
			  font-size: 0.85em;
			}
			table.jqplot-table-legend{
				width:120px;
			}
			.jqplot-table-legend-swatch{
				width:11% !important;
			}
			#loadingImage{
				left:500px;
				top:250px;
				position:absolute;
			}
			.ui-datepicker-trigger{
				cursor:pointer;
			}
		</style>
  <script type="text/javascript" language="javascript">
	
	function padZero(value){
		//convert to string
		value = ""+value;
	
		if(value.length==1){
			value = "0"+value;
			}
		return value;
	}
  
	$(document).ready(function(){
		
		$(".datePickerClass").datepicker({
			dateFormat: 'dd/mm/yy', 
			showOn: 'button', 
			buttonImage: '<$HttpWebRoot$>resources/ECS_Javascript/jquery/addons/date_picker/images/calendar.gif', 
			buttonImageOnly: true
		});
		
		var d = new Date();
		var todaysDateStr = padZero(d.getDate()) + "/" + padZero(d.getMonth()+1) + "/" + d.getFullYear();
		$("#toDate").val(todaysDateStr);
		//add one week to the date.
		d2 = new Date(d.getTime()-500000000);
		var lastWeekStr = padZero(d2.getDate()) + "/" + padZero(d2.getMonth()+1) + "/" + d2.getFullYear();
		$("#fromDate").val(lastWeekStr);
	
	
		initGraph();
		$('.button-reset').click(function() { graph.resetZoom() });

	 });
 
 
 
	 function initGraph(){
		$.jqplot.config.enablePlugins = true;
		
	    $('#chart').empty(); 
		
		var fromDate = $("#fromDate").val();
		var toDate = $("#toDate").val();
		
		
		$.getJSON('http://ccla-ap14-dev/ucm/idcplg?IdcService=CCLA_CS_GET_SHARE_CLASS_DAILY_YIELD<$include add_idc_token_to_url$>&FROM_DATE='+fromDate+'&TO_DATE='+toDate+'&IsJson=1', function(data) {
				
				
				var plot1 = []; 
				var plot2 = [];
				var plot3 = []; 
				var plot4 = []; 
				var plot5 = [];
				
				var results = data.ResultSets.rsDailyYields.rows;
				
				$.each(results, function (index, value){
					var splitArray = String(value).split(',');
					if(splitArray[0]==1){
						plot1.push([splitArray[1],parseInt(splitArray[2])]);     
					} else if (splitArray[0]==2){
						plot2.push([splitArray[1],parseInt(splitArray[2])]); 
					} else if (splitArray[0]==3){
						plot3.push([splitArray[1],parseInt(splitArray[2])]); 
					} else if (splitArray[0]==4){
						plot4.push([splitArray[1],parseInt(splitArray[2])]); 
					} else if (splitArray[0]==5){
						plot5.push([splitArray[1],parseInt(splitArray[2])]); 
					}
					
				}); 
				
				//hide loading image
				$("#loadingImage").hide();
				
				graph = $.jqplot('chart', [plot1,plot2,plot3,plot4,plot5], {
					title: { 
						text: 'Daily Share Class Yield',
						fontSize: '16px'
						},
					axes: {
						xaxis: {
							label: "Date",
							labelOptions: {
								fontSize: '22px'
							},
							renderer: $.jqplot.DateAxisRenderer,
							tickOptions:{formatString:'%d/%m/%Y', fontSize:16} 
						}, 
						yaxis: {
							label: "Yield (£)",
							labelOptions: {
								fontSize: '22px'
							},
							tickOptions:{formatString:'£%.2f', fontSize:16} 
						}
					},
					series:[ 
						{	
							label: "Share Class 1", 
							lineWidth:1, 
							color:'#999999', 
							showMarker:true
						},
						{	
							label: "Share Class 2", 
							lineWidth:2, 
							showMarker:true,  
							markerOptions: 
							{ 
								style:"filledSquare", 
								size:10 
							}
						},
						{	
							label: "Share Class 3"
						},
						{	
							label: "Share Class 4"
						},
						{	
							label: "Share Class 5"
						}
					],
					highlighter: {
						show: true,
						sizeAdjust: 7.5
					  },
					legend: { 
							renderer: $.jqplot.EnhancedLegendRenderer,
							show:true, 
							location: 'e',
							placement: 'outside' 
						},
					cursor: {
						show: true,
						zoom:true,
						showTooltip:false
					}
				});

			});
	 }
  </script>
		
	</head>
	<body <$include iris_body_def_internal$>>
		
		
		<$include iris_header$>
		
		
		<div align=center style="margin: 15px 0px;">	
			<div id='ccla_cs_content' style='width: 1100px'>
				
				<$include orangeContainer_top$>
				
				
				<div class='ccla_cs_panel_header'>
					Daily Share Class Yield
				</div>
			
				<div class='ccla_cs_panel_content'>
					<div id="loadingImage"><img src="<$HttpWebRoot$>resources/ECS_Javascript/jquery/addons/jqplot/images/loading.gif"/></div>
					
					<div id="chart" style="margin-top:20px; margin-left:20px; width:900px; height:500px;"></div>
					<br/>
					<div>
						<b>Choose Date Range: </b>
						<br>
						From: <input class="datePickerClass" id="fromDate" value=""/> 
						To: <input id="toDate" class="datePickerClass" value=""/> 
						<input type="button" onclick="initGraph()" value="Show Graph"/>
						<input type="button" onclick="graph.resetZoom()" value="Reset Zoom"/>
					</div>
					<br/>
				</div>
				
				<$include orangeContainer_bottom$>
	
			</div>
		</div>
		
	</body>
</html>