<!DOCTYPE html PUBLIC 	"-//W3C/DTD XHTML 1.0 Transitional//EN"
						"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
	
	<$include iris_jquery_js$>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>
		<$pageTitle = "Update Bank Account Relationships"$>
		<$pageTitle$>
	</title>
	
	<$include ccla_cs_styles$>
	
	<script type="text/javascript">
		
		
	</script>
	
</head>

<body class="popupBody">
	
	<!-- special container used by ECS_PopupMenus code -->
	<div id="popUpContainingDiv">
	
		<$include orangeContainer_top$>
			
			<div class='ccla_cs_panel_header'>
				<$pageTitle$>
			</div>
			
			<div class='ccla_cs_panel_content'>
			
				<$if updated$>	
					<div class="message_panel info_icon">
						Relations updated.	
					</div>
				<$elseif added$>	
					<div class="message_panel info_icon">
						New relation added.	
					</div>
				<$endif$>
				
				<form method="POST">
					<input type="hidden" name="IdcService" 	value="CCLA_CS_UPDATE_BANK_ACCOUNT_RELATIONS" /><$include add_idc_token_to_form$>
				
					<$loop rsBankAccountRelation$>
					
						<input type="hidden" name="BANK_ACCOUNT_RELATION_ID"	value="<$#active.BANK_ACCOUNT_RELATION_ID$>" />
						<input type="hidden" name="ACCOUNT_ID"					value="<$#active.ACCOUNT_ID$>" />
						<input type="hidden" name="BANK_ACCOUNT_ID"				value="<$#active.BANK_ACCOUNT_ID$>" />
						
						<input type="hidden" name="RedirectUrl" 
						   value="?IdcService=CCLA_CS_BANK_ACCOUNT_RELATIONS_EDIT<$include add_idc_token_to_url$>&BANK_ACCOUNT_RELATION_ID=<$#active.BANK_ACCOUNT_RELATION_ID$>&updated=1" />
					
						<table class="accounts-table" cellpadding="0" cellspacing="0" width="100%">
						
							<tr class="account-details-row first-row">
								<th class="first-col" width="15%">Account</th>
								
								<th width="25%">Account name</th>
								<th width="15%">Bank acc. no.</th>
								<th width="15%">Sort code</td>
								
								<th width="10%">With.</th>
								<th width="10%">Inc.</th>
								<th width="10%">Default</th>
							</tr>
							
							<tr class="account-details-row">
								<td class="first-col">
									<$#active.ACCNUMEXT$>
								</td>
								
								<td>
									<$#active.ACCOUNT_NAME$>
								</td>
								<td>
									<$#active.ACCOUNT_NO$>
								</td>
								<td>
									<$#active.SORT_CODE$>
								</td>
								
								<td align="center">
									<input type="checkbox" name="WITHDRAWAL" <$if #active.WITHDRAWAL == 1$>checked<$endif$> />
								</td>
								<td align="center">
									<input type="checkbox" name="INCOME" <$if #active.INCOME == 1$>checked<$endif$> />
								</td>
								<td align="center">
									<input type="checkbox" name="DEFAULT" <$if #active.IS_DEFAULT == 1$>checked<$endif$> />
								</td>
							</tr>
							
						</table>
					
					<$endloop$>
					
					<br/>
					
					<div style="text-align: right">
						<input type="submit" value="Save changes" />
					</div>

				</form>
				
			</div>
				
		<$include orangeContainer_bottom$>
		
	</div>

</body>
</html>