<!DOCTYPE html PUBLIC 	"-//W3C/DTD XHTML 1.0 Transitional//EN"
						"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		
		<$isInfo = 1$>

		<title>
			<$#active.ORGANISATION_NAME$> | Organisation Info 
		</title>
		
		<$ELEMENT_ID = #active.ORGANISATION_ID$>
		
		<$include ccla_cs_styles$>
		<$include iris_jquery_js$>
		
		<$include epoch_calendar_header$>
		
		<$include doc_listing_styles$>
		<$include iris_paginator_header$>
		
		<$include float_menu_header$>
		
		<$include ccla_cs_set_params_js$>
		<$include ccla_cs_element_relations_js$>
		<$include ccla_cs_ajax_toggle_panel_js$>
		
		<$include ccla_cs_ajax_js$>
		
		<script type="text/javascript">
			var blanketStatus = 0;
			var expandWin;
		
			function openEditEntity(entityId) {
				window.location.href = "?IdcService=CCLA_CS_ENTITY_EDIT<$include add_idc_token_to_url$>&ORGANISATION_ID=" + entityId;
			}
		
			$(document).ready( function() {
			
				<$if #active.added AND #active.isUltraCompact$>
					var otherFieldValue = '<$#active.ORGANISATION_ID$>';
					updateIframeValue('iframePerson', 'relatedEntityId', otherFieldValue); 
					updateParentFormValue('mainForm','ORGANISATION_ID',otherFieldValue);
				<$endif$>
				
				$('#expand').click(function() {
					//BlanketOut Screen to prevent data entry
					var myWidth=0;
					var myHeight=0;
						
					if( typeof( window.innerWidth ) == 'number' ) {
						//Non-IE
						myWidth = window.innerWidth;
						myHeight = window.innerHeight;
					} else if( document.documentElement && ( document.documentElement.clientWidth || document.documentElement.clientHeight ) ) {
						//IE 6+ in 'standards compliant mode'
						myWidth = document.documentElement.clientWidth;
						myHeight = document.documentElement.clientHeight;
					} else if( document.body && ( document.body.clientWidth || document.body.clientHeight ) ) {
						//IE 4 compatible
						myWidth = document.body.clientWidth;
						myHeight = document.body.clientHeight;
					}	
						
					$("#blanket").css({  
						"height": myHeight,  
						"width": myWidth  
					});
								
					loadBlanket();
					expandWindowOpen()			
					
				});		
				
				$('#closeExpand').click(function() {
					var parentWin = window.opener;
					if (parentWin)
						parentWin.disableBlanket();
					window.close();
				});				
			});
		
			function expandWindowOpen() {
				expandWin = window.open("<$HttpCgiPath$>?IdcService=CCLA_CS_ENTITY_INFO<$include add_idc_token_to_url$>&ORGANISATION_ID=<$#active.ORGANISATION_ID$>&isCompact=1&isFromExpanded=1", "Organisation", "top=100, left=100, width=832px, height=850px, toolbar=no, location=no, status=no, menubar=no, directories=no, resizable=no, scrollbars=yes");
			}
			
			function loadBlanket(){  
				//loads popup only if it is disabled  
				if(blanketStatus==0){  
					$("#blanket").css({"opacity": "0.7"});  
					$("#blanket").slideDown("slow");  
					blanketStatus = 1;  
				}  
			}
			

			function disableBlanket(){  
				//disables popup only if it is enabled  
				if(blanketStatus==1){  
					$("#blanket").fadeOut("slow");  
					blanketStatus = 0;  
				}  
			}  

			//set form variable in another iframe in the parent widow
			function updateIframeValue(iframeID, fieldName, fieldValue) {
				var parentOtherIframe = window.parent.document.getElementById(iframeID);
				if (parentOtherIframe) {
					var fielda = parentOtherIframe.contentWindow.document.getElementById(fieldName);
					if (fielda) {
						fielda.value= fieldValue;
					} 
				} 
			}		

			//set form variable in another iframe in the parent widow
			function updateParentFormValue(formName, fieldName, fieldValue) {
				var parentWindowForm = window.parent.document.getElementById(formName);
				if (parentWindowForm) {
					var fielda = parentWindowForm.elements[fieldName];
					if (fielda) {
						fielda.value= fieldValue;
					} 			
				} 		
			}
		</script>
	</head>
	<body <$include iris_body_def_internal$>>
		
		<$include ecs_popup_div_header$>
		<$if not #active.isCompact$>
			<$include iris_header$>
		<$else$>
			<$include ccla_cs_compact_styles$>
		<$endif$>
		
	<div  id="cs_page_container" class="cs-page-container">
			
			<$if NOT hideActionButtons$>
				<$buttonContext = "entity"$>
				<$include ccla_cs_include_tab_parameters$>				
				<$include ccla_cs_action_buttons$>
			<$endif$>
			
			<$if #active.isFromExpanded$>
				<center><p id="closeExpand">Click Here to Return Back</p><center>
			<$endif$>
			
			<div id="ccla_cs_right_content" class="cs-right-content-container orgInfoContainer">
			
			<div id='ccla_cs_content' class="cs-content-container orgInfoContainer" >
				<$if not #active.isUltraCompact$>
					<$include ccla_cs_toggle_info_edit_display$>
				<$endif$>
				<!-- basic client info-->
				<$include orangeContainer_top$>
					<div class="ccla_cs_panel_header">
						Organisation Info: <$#active.ORGANISATION_NAME$>
					</div>

					<div style="padding-top:5px"></div>
					<$hideName="yes"$>
			
			<$loop rsEntity$>
				<$include ccla_cs_display_entity_info$>
			<$endloop$>
					<div style="padding-top:5px"></div>

					<$if not #active.isUltraCompact$>
						<$include ccla_cs_display_readonly_contact_details$>
						<div style="padding-top:5px"></div>
					<$endif$>
				<$include orangeContainer_bottom$>
				
				<$if not #active.isUltraCompact$>

					<$include ccla_cs_entity_relations$>
					<$include orangeContainer_top$>
					
					<div class='ccla_cs_panel_header'>
						Account listing
					</div>
					
					<div class='ccla_cs_panel_content'>
					
						<$include ccla_cs_display_accounts_last_update$>
						
						<$if rsAccounts$>
							<$displayAccSummary=1$>
							<$include ccla_cs_display_accounts$>
						<$else$>
							<p class="no-info">
								No registered accounts for this client
							</p>
						<$endif$>

					</div>
					
					<$include orangeContainer_bottom$>
					
					
					<$include orangeContainer_top$>

					<div class='ccla_cs_panel_header'>
						Campaigns
					</div>
					
					<div class='ccla_cs_panel_content'>
						
						<$include ccla_cs_display_client_campaigns$>
						
					</div>
					
					<$include orangeContainer_bottom$>
					
					
					<$include orangeContainer_top$>

					<div class='ccla_cs_panel_header'>
						Documents
					</div>
					
					<div class='ccla_cs_panel_content'>
						
						<h3 class="ccla_data_panel_header">Client Number &amp; Company</h3>
						
						<$panelToggleLabel 	= "Show/hide most recent"$>
						<$panelId 			= "documents_ajax_panel"$>
						<$panelIncName 		= "ccla_cs_display_document_listing"$>
						<$panelParams 		= "{'ORGANISATION_ID': '" & #local.ELEMENT_ID & "'}"$>
						
						<$include ccla_cs_ajax_panel_display$>
						
						<h3 class="ccla_data_panel_header">Invoices</h3>
						
						<$exec rsFirst("rsEntity")$>
						
						<$panelToggleLabel 	= "Show/hide most recent"$>
						<$panelId 			= "invoice_documents_ajax_panel"$>
						<$panelIncName 		= "ccla_cs_display_invoice_document_listing"$>
						<$panelParams 		= "{'ORGANISATION_ID': '" & #local.ELEMENT_ID & "', 'ORG_ACCOUNT_CODE': '" & #active.ORG_ACCOUNT_CODE & "'}"$>
						
						<$include ccla_cs_ajax_panel_display$>
						
					</div>
					
					<$include orangeContainer_bottom$>
					
					<$include orangeContainer_top$>

					<div class='ccla_cs_panel_header'>
						Instructions
					</div>

					<div class='ccla_cs_panel_content'>
						
						<$exec rsFirst("rsAuroraClientMap")$>
						
						<$panelToggleLabel 	= "Show/hide most recent"$>
						<$panelId 			= "instructions_ajax_panel"$>
						<$panelIncName 		= "ccla_cs_display_instruction_listing"$>
						<$panelParams 		= 	"{'ORGANISATION_ID': '" & #local.ELEMENT_ID &
												"', 'ORG_ACCOUNT_CODE': '" & rsEntity.ORG_ACCOUNT_CODE & "'}"$>
						
						<$include ccla_cs_ajax_panel_display$>

					</div>

					<$include orangeContainer_bottom$>
					
					<$include orangeContainer_top$>

					<div class='ccla_cs_panel_header'>
						Interactions
					</div>
					
					<div class='ccla_cs_panel_content'>
						
						<$executeService("CCLA_CS_GET_ENTITY_INTERACTIONS")$>
			
						<$if rsInteractions$>
							<$include ccla_cs_display_interactions$>
						
						<$else$>
							<p class="no-info">No interactions logged for this client</p>
						<$endif$>
						
					</div>
					
					<$include orangeContainer_bottom$>

					<$if false$>
						<!-- TM: Disabling Activities list for now. Needs to be refactored
								 to point at new schema -->
						<$include orangeContainer_top$>

						<div class='ccla_cs_panel_header'>
							Activities
						</div>
						
						<div class='ccla_cs_panel_content'>
							
							<$if not rsActivities$>
								<p class="no-info">
									This entity has no logged activity.
								</p>
							<$else$>
								
								<$include ccla_cs_display_activity_listing$>
								
							<$endif$>
							
						</div>
						
						<$include orangeContainer_bottom$>
					<$endif$>
					
				<$else$>
					<div style="text-align: right;padding:10px;" class="ccla_cs_panel_content">
						<$if #active.isUltraCompact$>
							<input tabindex="160"  id="expand" name="expand" type="button" value="Expand"/>				
							&nbsp;
						<$endif$>
					</div>
				<$endif$>
			</div>
		</div>
	</div>	
	</body>
</html>