<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>
ECS_BaseUtils htmlIncludeOrString
</title>
</head>
<body>

[[% 11g idcToken includes - START %]]

<@dynamichtml idc_token_form_field@>
<$if idcToken$><input type="hidden" name="idcToken" value="<$idcToken$>" /><$endif$>
<@end@>

<@dynamichtml idc_token_url_parameter@>
<$directive trimtext$>
idcToken=<$#local.idcToken$>
<@end@>

[[% Makes include friendlier to backward compatible components %]]
<@dynamichtml idc_token_url_appending_parameter@>
<$directive trimtext$>
&<$include idc_token_url_parameter$>
<@end@>

[[% 11g idcToken includes - END %]]


[[% 11g idcToken include - ECS - start %]]

<@dynamichtml add_idc_token_to_url@>
<$if idcToken$>
 <$include idc_token_url_appending_parameter$>
<$endif$>
<@end@>

<@dynamichtml add_idc_token_to_form@>
 <$include idc_token_form_field$>
<@end@>

[[% 11g idcToken include - ECS - end %]]

</body></html>