<!DOCTYPE html PUBLIC 	"-//W3C/DTD XHTML 1.0 Transitional//EN"
						"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		
	
	<$include iris_jquery_js$>
		
		<$if strIndexOf(#local.IdcService,"CCLA_TRANS_EXPENSE_NEW") > -1$>
			<$isNew=1$>
			<$if #local.SHARE_CLASS_ID$>
			<$isShareClassExpense=1$>
			<$else$>
			<$isGeneral=1$>
			<$endif$>
		<$else$>		
			<$isEdit=1$>
				<$if #local.SHARE_CLASS_ID$>
					<$isShareClassExpense=1$>
					<$executeService("CCLA_TRANS_SHARE_CLASS_SIMPLE")$>
					<$loop rsShareClass$>
						<$expenseName=rsShareClass.SHARE_CLASS_NAME$>
					<$endloop$>
				<$else$>
				<$loop rsExpense$>
					<$expenseName=rsExpense.INCOME_EXPENSE_NAME$>
				<$endloop$>
					<$isGeneral=1$>
				<$endif$>
		<$endif$>

		
		<title>
			<$if isNew$>
				 Add Income for  TODO add date
			<$else$>
				Edit Income for 
			<$endif$>
		</title>
		
		<$include ccla_cs_styles$>
		

		<script type="text/javascript">
		var updated = <$if isUpdated$>true<$else$>false<$endif$>;
		
		$(document).ready( function() {
			
			if (updated){
				window.parent.updateIncomeValue();
				window.parent.closePopup();
			}
		});

		function saveIncome()
		{
			var frm = document.forms['frmIncomeUpdate'];
			if (frm.DAILY_VALUE.value=='')
				alert("Please enter the figure for income before proceeding")
			else
			{
			if (frm.NAV.value=='')
				alert("Please enter the figure for the NAV before proceeding")
			else
				frm.submit();
			}
		}			
		
		</script>
		
	</head>
<body class="popupBody">
	
	<!-- special container used by ECS_PopupMenus code -->
	<div id="popUpContainingDiv">
						<$include orangeContainer_top$>
						

							<div class='ccla_cs_panel_header'>
								Fund Income
							</div>
							
							<form name="frmIncomeUpdate" >
								<input type="hidden" name="INCOME_EXPENSE_ID" value="<$#local.INCOME_EXPENSE_ID$>">
								<input type="hidden" name="INCOME_EXPENSE_NAME" value="PSDF Fund Income">
								<input type="hidden" name="INCOME_EXPENSE_TYPE_ID" value="3">
								<input type="hidden" name="IdcService" value="CCLA_TRANS_INCOME_UPDATE">
								<$include add_idc_token_to_form$>
								<input type="hidden" name="RedirectUrl" value="?IdcService=CCLA_TRANS_INCOME_EDIT&isUpdated=1&INCOME_EXPENSE_ID=<$#local.INCOME_EXPENSE_ID$><$include add_idc_token_to_url$>">								
								<input type="hidden" name="FUND_CODE" value="<$#env.PSDF_FUND_CODE$>">
								<input type="hidden" name="FREQUENCY_ID" value="">
								<input type="hidden" name="SHARE_CLASS_ID" value="">
								<input type="hidden" name="IS_PERSIST" value="">
								<input type="hidden" name="DEFAULT_VALUE" value="">
								<input type="hidden" name="DESCRIPTION" value="">
								
								<table cellspacing="0" cellpadding="2" >
									<tr>
									<td align="right">
									<strong>Gross Fund Income*:</strong>
									</td>
									<td>
									<input type="text" name="DAILY_GROSS_VALUE" value="<$#active.grossIncome$>"/>
									</td>
								</tr>
								<tr><td>&nbsp;</td></tr>
								<tr>
									<td colspan="2">* this is the value from HiPort. It should be the gross fund income, the income NOT including expenses.</td>
								</tr>
								</tr>
								
								<tr><td>&nbsp;</td></tr>															
								<tr>
									<td align="right">
									<strong>Fund Income*:</strong>
									</td>
									<td>
									<input type="text" name="DAILY_VALUE" value="<$#active.dailyIncome$>"/>
									</td>
								</tr>
								<tr><td>&nbsp;</td></tr>
								<tr>
									<td colspan="2">* this is the value from HiPort. It should be the total fund income minus the
									fund expenses.</td>
								</tr>
								</tr>
								<tr><td>&nbsp;</td></tr>
								<tr>
									<td align="right">
									<strong>Net Asset Value:</strong>
									</td>
									<td>
									<input type="text" name="NAV" value="<$#active.dailyNav$>"/>
									</td>
								</tr>
								
								</table>
								<div align="right">
									<input type="button" value="Save" onclick="saveIncome()">
								</div>

							</form>
								
								<br>
								<br>
								<$include orangeContainer_bottom$>
									<br/>									

	</div>	
	
	</body>
</html></body></html>