<!DOCTYPE html PUBLIC 	"-//W3C/DTD XHTML 1.0 Transitional//EN"
						"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>
		Share Classes
	</title>

	<$include ccla_cs_styles$>
	<$include ecs_javascript_jquery_include$>
	<$include ccla_cs_ajax_js$>
	
	<$if #local.ORGANISATION_ID$>
		<!-- Org/Person relationship -->
		<$ELEMENT_ID = ORGANISATION_ID$>

	<$elseif #local.ACCOUNT_ID$>
		<!-- Person/Account relationship -->
		<$ELEMENT_ID = ACCOUNT_ID$>

	<$endif$>
	
	<script type="text/javascript">
	

	function viewShareClass(shareClassId)
	{
		window.location.href = "?IdcService=CCLA_TRANS_SHARE_CLASS_EDIT<$include add_idc_token_to_url$>&SHARE_CLASS_ID=" + shareClassId;
	}
	
	function addShareClass()
	{
		window.location.href = "?IdcService=CCLA_TRANS_SHARE_CLASS_NEW<$include add_idc_token_to_url$>";
	}
		
	</script>
	<$include ccla_cs_set_params_js$>
	<$include ccla_cs_contact_lookup_js$>
	<$include ccla_cs_contact_lookup_mini_styles$>
</head>

<body <$include iris_body_def_internal$>>

	
		<$include ecs_popup_div_header$>
		
			<$include iris_header$>

	
	<div  id="cs_page_container" class="cs-page-container">


		<div id="ccla_cs_right_content" class="cs-right-content-container">
		
			<div id='ccla_cs_content' class="cs-content-container" >

			
							<$include orangeContainer_top$>
							<div class='ccla_cs_panel_header'>
								Share Class Listing
							</div>


							<table cellpadding="0" cellspacing="0"  width="100%" class="accounts-table">
							<tr class="account-details-row">
								<th width="20%">Share Class Name</th>
								<th width="20%">Fund Code</th>
								<th width="20%">Minimum Threshold</th>
								<th width="20%">Enabled</th>
								<th width="20%">Edit</th>

							</tr>
							<$loop rsShareClasses$>
								<tr  class="account-details-row" >
									<td><a href="?IdcService=CCLA_TRANS_SHARE_CLASS_EDIT<$include add_idc_token_to_url$>&SHARE_CLASS_ID=<$#active.SHARE_CLASS_ID$>"><$#active.SHARE_CLASS_NAME$></a></td>
									<td><$#active.FUND_CODE$></td>
									<td><$#active.MIN_THRESHOLD$>&nbsp;</td>
									<td><$ if #active.IS_ENABLED == 0 $>No<$else$>Yes<$endif$>&nbsp;</td>
									<td><input type="button" value="View Details" onclick="viewShareClass('<$#active.SHARE_CLASS_ID$>')"></td>
								</tr>	
							<$endloop$>
							</table>
				<br><br>		
				<div style="float:right">
				<input type="button" value="Add a new share class" onClick="addShareClass()">
				</div>				
								<br><br>
			<$include orangeContainer_bottom$>
		</div>
	</div>
</body>
</html>