<!DOCTYPE html PUBLIC 	"-//W3C/DTD XHTML 1.0 Transitional//EN"
						"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<$if pageTitle$><$pageName= "- " & pageTitle$><$endif$>
	<title>
		Lookup <$pageName$>
	</title>

	<$include ccla_cs_styles$>
	<$include iris_jquery_js$>
	
	<$include epoch_calendar_header$>
	
	<$include doc_listing_styles$>
	<$include iris_paginator_header$>
	
	<$include float_menu_header$>
	
	<$include ccla_cs_set_params_js$>
</head>
<body <$include iris_body_def_internal$>>
		
	<$include ecs_popup_div_header$>
	
	<$include iris_header$>

	<div  id="cs_page_container" class="cs-page-container" style="padding: 10px">
		
		<h1>Reset Bundles</h1>
		
		<form>
			<input type="hidden" name="IdcService" value="CCLA_RESET_BUNDLES_SUBMIT" />
			<$include add_idc_token_to_form$>
			<input type="hidden" name="RedirectUrl" value="?IdcService=CCLA_RESET_BUNDLES<$include add_idc_token_to_url$>" />
		
			Enter query:
			<br/>
			
			<textarea name="sqlQuery" style="height: 300px; width: 500px"></textarea>
			
			<br/>
			
			<input type="submit" value="Submit" />
			
		</form>
		
	</div>
		
</body>
</html>