<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	
	<title>
	ECS_PopupMenus Example page
	</title>
	<$include ecs_popup_div_styles$>
	<$include ecs_popup_div_header$>

</head>
<body>
	
	<h1>ECS_PopupMenus Example page</h1>
	
	<a href="javascript:openPopup('?IdcService=GET_DOC_PAGE&Action=GetTemplatePage&Page=HOME_PAGE',600,400)" >Open the Stellent home page</a>
	
	<br/>
	
	<a href="javascript:openPopup('http://www.google.com',600,300)" >Open Google</a>
	
	
</body></html>