<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<$include ccla_cs_styles$>
	<$include iris_jquery_js$>
	
	<title>
		User Administration
	</title>
</head>
<body>
		
	<$include ecs_popup_div_header$>
	<$include iris_header$>
	
	<div style="text-align: center">
		
		<div style="width: 900px; margin: 15px auto;" class="grey_bg">
			
			<$include orangeContainer_top$>
				
				<div class="ccla_cs_panel_header">
					User Administration
				</div>
			
				<div class='ccla_cs_panel_content'>

					<$if userHasRole("admin") or userHasRole("WF_COO") or userHasRole("WF_SCANMANAGER")$>					

				
						<$if #local.userAdded$>
							<div class="message_panel info_icon">New User Added</div>
						<$elseif #local.userDeleted$>
							<div class="message_panel info_icon">User Deleted</div>
						<$endif$>
							
						<h3 class="ccla_data_panel_header">Current Users</h3>
						
						<p>Users must be added in order to use UCM as this will form part of the audit logs. If the user doesn't exist in this table, 
						the user will have limited functionality.</p>
						
						<table class="accounts-table" cellspacing="0" cellpadding="0" width="65%">
							<tr>
								<th class="first-col" width="35%">
									User Name
								</th>
								<th class="first-col" width="20%">
									Options
								</th>
								
							</tr>
						
							<$if rsUsers$>
								<$loop rsUsers$>
									<$if strIndexOf(#active.DNAME,"CCLA\\")<0$>
									<tr class="account-details-row">
										<td class="first-col"><b><$#active.DNAME$></b></td>								
										<td class="first-col">
											<form id="" name="" method="post">
												<input 	type="hidden" name="IdcService" value="CCLA_CP_REMOVE_CDB_USER" /><$include add_idc_token_to_form$>
												<input 	type="hidden" name="RedirectUrl" value="<$HttpCgiPath$>?IdcService=CCLA_CP_CDB_USER_ADMIN&userDeleted=1<$include add_idc_token_to_url$>" />
												<input type="hidden" name="DNAME" value="<$#active.DNAME$>" />
												<input type="submit" value="Delete" />
											</form>
										</td>								
									</tr>
									<$endif$>
								<$endloop$>
							<$endif$>
						</table>
						
						<div style="padding-top:5px"></div>
					
					</div>
					
				<$include orangeContainer_bottom$>	
				
				<br/>
				
				<$include orangeContainer_top$>
					
					<div class='ccla_cs_panel_content'>
						
						<h3 class="ccla_data_panel_header">Add New User</h3>
						
						<p>Use this form to add user names that don't appear in the list above. </p>
						<p>The name should be in the form 'j.bloggs' - ensure the name portion is
						   always lower-case!</p>
						
						<form method="POST">
						
							<input 	type="hidden" name="IdcService" value="CCLA_CP_ADD_CDB_USER" /><$include add_idc_token_to_form$>
							<input 	type="hidden" name="RedirectUrl" 
									value="<$HttpCgiPath$>?IdcService=CCLA_CP_CDB_USER_ADMIN&userAdded=1<$include add_idc_token_to_url$>" />
						
							Name: <input type="text" name="DNAME" value="" /> &nbsp;<input type="submit" value="Add" />
							
							
						</form>
					
						<div style="padding-top:5px"></div>

					</div>
					
				<$include orangeContainer_bottom$>
			
			<$else$>
					<$include orangeContainer_top$>
					<strong>You do not have authorisation to view this page. To request access please contact the helpdesk.</strong>
					<$include orangeContainer_bottom$>	
			<$endif$>
		</div>
	</div>
				
</body></html>