<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<$include ccla_cs_styles$>
	<$include iris_jquery_js$>
	
	<title>
		Transaction Batch Summary
	</title>
	
	<script type="text/javascript">

	</script>
	
</head>
<body>
		
	<$include ecs_popup_div_header$>
	<$include iris_header$>
	
	<div style="text-align: center">
		
		<div style="width: 900px; margin: 15px auto;" class="grey_bg">
			
			<$include orangeContainer_top$>
				
				<div class="ccla_cs_panel_header">
					Transaction Batch Summary
				</div>
				
				<div class='ccla_cs_panel_content'>
					<div style="padding-top:5px"></div>
					</div>
				</div
			<$include orangeContainer_bottom$>
		</div>
	</div>
				
</body></html>