<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
	<$defaultPageTitle="Upload Applet Test"$>
	<$include std_html_head_declarations$>
</head>

	<$include body_def$>

	<$include std_page_begin$>
	
	<h1>Upload Applet Test Page [2]</h1>
	<small>[Ensure that the server is configured to automatically generate Content IDs and that the Document Type and Security Group have been correctly defined in the ECSBaseUtils component configuration file]</small><br/><br/>

<table border=1><tr><td>	

	<$if MSIE$>

            <!-- Call embed.js to force applet to load enabled - note embed.js includes path to dndplus.jar */
            /* which is set to /stellent/common/dndplus.jar.  If the HttpRelativeWebRoot is not stellent  */
            /* then embed.js will have to be modified directly to reflect your new web root value.        -->
            <script type="text/javascript" src="<$HttpRelativeWebRoot$>common/ECS_BaseUtils/embed.js"></script>
            
            <!-- BEGIN APPLET CONFIGURATION PARAMETERS -->
            <param name="max_upload" value="100000">
            <!-- size in kilobytes (takes effect only in Rad Upload Plus) -->
            <param name = "url" value = "http://<$HttpServerAddress$><$HttpRelativeWebRoot$>jsp/ECS_BaseUtils/file_uploader.jsp?&dUser=<$dUser$>&dDocType=<$UPLOAD_DOCTYPE$>&dSecurityGroup=<$UPLOAD_DOCSECURITYGROUP$>">
            <!-- you can pass additional parameters by adding them to the url-->
            <!-- to upload to an ftp server instead of a web server, please specify a url
                in the following format:
                ftp://username:password@ftp.myserver.com
                        replacing username, password and ftp.myserver.com with corresponding entries for
                        your site -->

            <param name = "message" value="Drop your files here.<br>They will be uploaded into Stellent.">
            <!-- edit the above line to customize your applet's display -->
        <!-- END APPLET CONFIGURATION PARAMETERS -->
        
        		</object>
            
            
	<$elseif IsMac$>
	
	
	 					/* mac and linux */
            <applet archive="<$HttpRelativeWebRoot$>common/dndplus.jar" code="com.radinks.dnd.DNDAppletPlus" name="ECS Uploader Plus" hspace="0" vspace="0" MAYSCRIPT="yes" width="290" height="290" align="middle">
   
                  <!-- BEGIN APPLET CONFIGURATION PARAMETERS -->
            <param name="max_upload" value="100000">
            <!-- size in kilobytes (takes effect only in Rad Upload Plus) -->
            <param name = "url" value = "http://<$HttpServerAddress$><$HttpRelativeWebRoot$>jsp/ECS_BaseUtils/file_uploader.jsp?&dUser=<$dUser$>&dDocType=<$UPLOAD_DOCTYPE$>&dSecurityGroup=<$UPLOAD_DOCSECURITYGROUP$>">
            <!-- you can pass additional parameters by adding them to the url-->
            <!-- to upload to an ftp server instead of a web server, please specify a url
                in the following format:
                ftp://username:password@ftp.myserver.com
                        replacing username, password and ftp.myserver.com with corresponding entries for
                        your site -->

            <param name = "message" value="Drop your files here.<br>They will be uploaded into Stellent.">
            <!-- edit the above line to customize your applet's display -->
        <!-- END APPLET CONFIGURATION PARAMETERS -->
	
				</applet>
  
   
   <$else$>
   
   		          <object type="application/x-java-applet;version=1.4.1" width="350" height="350">
                <param name="archive" value="<$HttpRelativeWebRoot$>common/ECS_BaseUtils/dndplus.jar">
                <param name="code" value="com.radinks.dnd.DNDAppletPlus">
                <param name="name" value="ECS Uploader Plus">
                
                <!-- BEGIN APPLET CONFIGURATION PARAMETERS -->
            <param name="max_upload" value="100000">
            <!-- size in kilobytes (takes effect only in Rad Upload Plus) -->
            <param name = "url" value = "http://<$HttpServerAddress$><$HttpRelativeWebRoot$>jsp/ECS_BaseUtils/file_uploader.jsp?&dUser=<$dUser$>&dDocType=<$UPLOAD_DOCTYPE$>&dSecurityGroup=<$UPLOAD_DOCSECURITYGROUP$>">
            <!-- you can pass additional parameters by adding them to the url-->
            <!-- to upload to an ftp server instead of a web server, please specify a url
                in the following format:
                ftp://username:password@ftp.myserver.com
                        replacing username, password and ftp.myserver.com with corresponding entries for
                        your site -->

            <param name = "message" value="Drop your files here.<br>They will be uploaded into Stellent.">
            <!-- edit the above line to customize your applet's display -->
        <!-- END APPLET CONFIGURATION PARAMETERS -->
        
        </object>
                
    <$endif$>

</td></tr></table>


<div>

</div>

</body>
</html>

